h2, p{
    font-family: 'Josefin Slab', serif;
    font-size: .9em;
    color: navy;
}

#title,
#roast-selection,
#submit,
#coffeeSearch{
    font-family: "Pacifico", cursive;
    font-size: 1em;
    color: darkturquoise;
    text-shadow: darkslateblue;
}

.display-4{
    color: cornflowerblue;
}

#java-varietal,
#roast-process {
    color: gray;
}

